.footer-container {
    & {
        display: flex;
        align-items: center;
        height: 70px;
        background-color: @color__gray;
        color: @color__white;
        clear: both;
        box-shadow: 1px -6px 19px -2px #000;
    }

    .logo-box {
        .logo();
        margin: 0 auto;
    }
}