@import 'basic/_variables';
@import 'basic/_classes';
@import 'basic/_mixins';
@import 'header/_main';
@import 'main_content/_banner';
@import 'main_content/_featured';
@import 'main_content/_portfolio';
@import 'main_content/_persons';
@import 'footer/_footer';

//Common Styles {
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    margin: 0;
}